/target/
/target2/
Voxtral-Mini-4B-Realtime/
.claude/settings.local.json
voicet-v*.zip
voicet-v*.tar.gz
release/
release-linux/
learnings*.md
MistralDoc.md
plan2xxx.md
/voicet-v0.5.4-windows-x64-cuda/
PLAN-UI.md
ARCHITECTURE-UI.md
archive/PipeLineTiming.md
archive/phase3.md
target_check/CACHEDIR.TAG
.claude-trace/log-2026-03-18-20-24-26.html
.claude-trace/log-2026-03-18-20-24-26.jsonl
tmp_voicetbeforeUI/config.json
tmp_voicetbeforeUI/consolidated.safetensors
tmp_voicetbeforeUI/cublas64_13.dll
tmp_voicetbeforeUI/curand64_10.dll
tmp_voicetbeforeUI/generation_config.json
tmp_voicetbeforeUI/hf_mel_shape.txt
tmp_voicetbeforeUI/hf_mel.bin
tmp_voicetbeforeUI/mel_filters.bin
tmp_voicetbeforeUI/nvcudart_hybrid64.dll
tmp_voicetbeforeUI/params.json
tmp_voicetbeforeUI/processor_config.json
tmp_voicetbeforeUI/README.md
tmp_voicetbeforeUI/tekken.json
tmp_voicetbeforeUI/voicet.exe
tmp_voicetbeforeUI/voicet.pdb
archive/PLAN1-UE.md
README.private.md
SCHMIDIspeech_prompt_voxtral.md
